<%- include ('./layout.ejs') %>

    <div class="app">
        <div class="home">
            <div class="intro-header">
                <h2>Hello! Welcome to Express Blog.</h2>
            </div>
            <div>
                <a href="/login">Login</a> or <a href="/register">Register</a>
            </div>
        </div>
    </div>