<%- include ('./layout.ejs') %>

    <div class="app">
        <div class="home">
            <div class="intro-header">
                <h2>New Post</h2>
            </div>
            <form action="/post" method='POST' class="form-register-login">
                <input type="text" name='title' id='title' placeholder="Title" required />
                <textarea type="text" name='description' id='description' placeholder="Description" required></textarea>
                <input type="submit" value="Upload" />
            </form>

        </div>
    </div>