<%- include ('./layout.ejs') %>

    <div class="app">
        <div class="home">
            <div class="intro-header">
                <h2>Register</h2>
            </div>
            <form action="/register" method='POST' class="form-register-login">
                <input type="text" name='username' id='username' placeholder="Username" required />
                <input type="password" name='password' id='password' placeholder="Password" required />
                <input type="submit" value="Register" />
            </form>
            <br>
            <div>
                Already have an account? <a href="/login">Log in</a>
            </div>
        </div>
    </div>